# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.idea/
.vscode/
.cursor/
*.sublime-*
.cursorrules

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
vendor/

# Build
dist/
build/

# Environment
.env
.env.local
